@import '../../Styles/colors';
@import '../../Styles/imagesAndIcons';
@import '../../Styles/responsiveRules';
    
.mobile-container
    display: none
    position: absolute
    top: 0
    left: 0
    z-index: 1000
    width: 100%
    color: $white-default
    -webkit-backdrop-filter: blur(10px)
    backdrop-filter: blur(30px)
    background-color: rgba(0, 0, 0, 0.2)
    .mobile-container__topnav
        overflow: hidden
        position: relative
        .mobile-container__topnav-header
            display: flex
            justify-content: space-between
            padding: 10px
            border: 1px solid $white-default
            .mobile-container__logo
                font-size: 17px
                cursor: pointer
            .mobile-container__icon
                cursor: pointer
                div
                    background: $menu-white-icon no-repeat
                    background-size: contain
                    padding: 10px
        .mobile-container__logo
            font-size: 18px
        .mobile-container__menu
            display: none
            .mobile-container__menu-item
                border: 0
                border-bottom: 1px solid $white-default
                padding: 10px
                cursor: pointer
        .mobile-container__menu--active
            display: block

@include phone('default','default',portrait)

    .mobile-container
        display: block